*.class
.project

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

vendor/github.com/
vendor/golang.org/
vendor/sourcegraph.com/
vendor/gopkg.in/
vendor/k8s.io/
quebic-faas-mgr.db
quebic-faas-apigateway.db
quebic-faas-apigateway/quebic-faas-apigateway

